<div class="top-nav-bar">

    <div class="search-box">
        <a href="/"> <img src="https://i-love-png.com/images/characters-angry-birds-141904.png" class="ml-3 logo"></a>
        <input type="text" class="form-control srch">
        <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <div class="menu-bar">
        <ul>
            {{#if user}}
            <li><a href="/user-profile">Profile</a></li>
            <li><a href="/user-logout">Log Out</a></li>
            {{else}}
            <li><a href="/user-login">Log In & Sign Up</a></li>
            {{/if}}
            <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
        </ul>

    </div>
</div>

<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-6">
            <h5 class=""><b>My Shopping Bag</b></h5>
        </div>
        <div class="col-2">
            <h5 class=""><b>Total : {{total}}</b></h5>
        </div>
    </div>
    {{#each product.cart}}
    {{#if this.productName}}
    <div class="row">
        <div class="col-8  list-box p-2 jumbotron">
            <img class="rounded img-box" src="{{this.productImage}}" alt="" height="230px" width="173px">
            <div class="float-right mt-4 mr-5"><b>${{this.productPrice}}</b></div>
            <div class="desc ml-4">
                <p class="mb-0"><b>{{this.productName}}</b></p>
                <p class="disc mb-0">{{this.productHighlights1}}</p>
                <p class="disc mb-0">{{this.productHighlights2}}</p>
                <p class="disc">{{this.productHighlights3}}</p>
                <br><br><br>
                {{!-- <div class="dropdown">
                    Size:
                    <select
                        class="btn btn-sm dropdown-toggle click text-white drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">9</option>
                        <option class="dropdown-item mx-auto drp" href="#">10</option>
                        <option class="dropdown-item mx-auto drp" href="#">11</option>
                        <option class="dropdown-item mx-auto drp" href="#">12</option>
                    </select>
                </div> --}}
                {{!-- <div class="dropdown ml-3">
                    Quantity:
                    <select
                        class="btn btn-sm dropdown-toggle click text-white drp pl-4 text-white btn-hover color-11 m-0"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <option class="dropdown-item mx-auto drp" href="#">1</option>
                        <option class="dropdown-item mx-auto drp" href="#">2</option>
                        <option class="dropdown-item mx-auto drp" href="#">3</option>
                        <option class="dropdown-item mx-auto drp" href="#">4</option>
                        <option class="dropdown-item mx-auto drp" href="#">5</option>
                        <option class="dropdown-item mx-auto drp" href="#">6</option>
                        <option class="dropdown-item mx-auto drp" href="#">7</option>
                        <option class="dropdown-item mx-auto drp" href="#">8</option>
                    </select>
                </div><br> --}}

            </div>
            <div><a href="/cart-delete?id={{this._id}}" id="delete"><i
                        class="fa fa-trash bottom-right red fa-2x"></i></a>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
    <div class="jumbotron place-order pt-3">
        <button type="button" class="btn mx-auto text-white order-btn btn-lg btn-block btn-hover color-11">
            <h4 class="mb-0"><b>PLACE ORDER</b></h4>
        </button>
        <div>
            <fieldset class="jumbotron random-box p-0 mt-4">
                <legend class="ml-3 text-white" style="width: auto;">
                    <h5>Address</h5>
                </legend>
                <p class="ml-3 text-white">23 A, Gr Flr, Avijah Building,<br>
                    Jss Road, Opp Metro Cinema,<br>
                    New Marine Lines, Mumbai,
                    Maharashtra, 400002.<br>
                    +91 9988776655</p>
                <button type="button"
                    class="btn mx-auto text-white drp click pt-1 btn-block btn-hover color-11"><b>Edit</b></button>

            </fieldset>
        </div>
        <div>
            <fieldset class="jumbotron random-box p-0 mt-3">
                <legend class="ml-3 text-white" style="width: auto;">
                    <h5 class="mx-auto">Payment Options</h5>
                </legend>

                <form action="#" class="text-white ml-3">
                    <p class="mb-0">
                        <input type="radio" id="test1" name="radio-group" checked>
                        <label for="test1">Cash On Dilvery</lhsabel>
                    </p>
                    <p class="mb-0">
                        <input type="radio" id="test2" name="radio-group">
                        <label for="test2">Credit/Debit Card</label>
                    </p>
                    <p class="mb-0">
                        <input type="radio" id="test3" name="radio-group">
                        <label for="test3">Paytm</label>
                    </p>
                </form>

            </fieldset>
        </div>

    </div>
</div>