{{!-- section-1 --}}
<div class="top-nav-bar">
    <form action="/product-category/search" method="GET" class="inline">
        <div class="search-box">
            <a href="/"> <img src="https://i-love-png.com/images/characters-angry-birds-141904.png"
                    class="ml-3 logo"></a>

            <input type="text" class="form-control srch inline" name="searchText">
            <button type="submit" class="input-group-text inline" id="search"><i class="fa fa-search inline"
                    aria-hidden="true"></i></button>

        </div>
        <div class="menu-bar inline">
            <ul class="inline">
                {{#if user}}
                <li class="pt-2"><a href="/user-profile"><div class="btn btn-outline-danger">Profile </div></a>
                </li>
                <li class="pt-2"><a href="/user-logout"><div class="btn btn-outline-danger">Log Out </div></a>
                </li>
                {{else}}
                <li class="pt-2"><a href="/user-login"><div class="btn btn-outline-danger">Log In & Sign
                            Up</div></a></li>
                {{/if}}
                <li class="pt-2 mt-1 mr-3"><a href="/cart"><i class="fa fa-shopping-cart fa-2x"
                            aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </form>
</div>
<section class="header">
    <div class="side-menu">
        <ul class="p-3">
            <li class="m-0">Electronics<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li><a href="/product-category/all">All products</a></li>
                    <li><a href="/product-category?id=Mobiles">Mobiles</a></li>
                    <li><a href="/product-category?id=Laptops">Laptops</a></li>
                    <li><a href="/product-category?id=Speakers">Speakers</a></li>
                    <li><a href="/product-category?id=Camera">Camera</a></li>
                </ul>
            </li>
            <li class="m-0">Fashion<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li><a href="/product-category?id=Men's">Men's</a></li>
                    <li><a href="/product-category?id=Women's">Women's</a></li>
                    <li><a href="/product-category?id=Bags">Bags</a></li>
                </ul>
            </li>

            <li class="m-0">Home & Furniture<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li> <a href="/product-category?id=Decor"> Decor</a></li>
                    <li> <a href="/product-category?id=Cookware">Cookware</a> </li>
                    <li> <a href="/product-category?id=Furniture">Furniture</a> </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<div class="slider">
    <div id="carouselExampleControls" class="carousel carousel-shadow slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/product-category?id=Mobiles">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/drr1rnoxf/image/upload/v1574833854/q30djxi3bssej55c6pcw.jpg"
                        alt="First slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product-category?id=Men's">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/drr1rnoxf/image/upload/v1574833718/h4aozwpk8pfdujneftys.jpg"
                        alt="Second slide">
                </a>
            </div>
            <div class="carousel-item">
                <a
                    href="https://www.primevideo.com/detail/amzn1.dv.gti.1cb70216-62bd-5fb2-923d-71d9b0938471/ref_=dvm_crs_gat_in_ai_s_dk_hero4_l_np_OMS_S">
                    <img class="d-block w-100"
                        src="https://res.cloudinary.com/drr1rnoxf/image/upload/v1574833823/xn5zaoducvakwhs6nhxh.jpg"
                        alt="Third slide">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<p id="demo"> New Year Offer </p>


<div class="mt-5">
    <div class="row" style="margin-left:25px">
        <div class="col-2 p-2 ml-5 mr-5">
            <a href="/products?id=5ddad0940d2d1771b1ecfdb3">
                <img class="rounded mb-1 product"
                    src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/6786846/2018/9/5/4c7bbdbd-c691-437d-8818-bbfd105cfa5b1536129210451-HERENOW-Men-Red-Self-Design-Padded-Jacket-4261536129208325-1.jpg"
                    alt="" height="320px" width="240px">
                <div style="width: 230px;">
                    <p class="mb-0"><b>HERE&amp;NOW</b></p>
                    <p class="disc mb-0">Men Red Padded Jacket</p>
                    <p class="disc mb-2"><b>₹2099</b></p>
                </div>
        </div>
        <div class="col-2 p-2 ml-5 mr-5">
            </a>
            <a href="/products?id=5ddadd24eff8780d0b3ad362">
                <img class="rounded mb-1 product"
                    src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/5561587/2018/5/9/11525845200173-Athena-Women-Red-Self-Design-Maxi-Dress-9841525845199967-1.jpg"
                    alt="" height="320px" width="240px">
                <div style="width: 230px;">
                    <p class="mb-0"><b>Athena</b></p>
                    <p class="disc mb-0">Women Red Lace</p>
                    <p class="disc mb-2"><b>₹1568</b></p>
                </div>
        </div>
        <div class="col-2 p-2 ml-5 mr-5">
            </a>
            <a href="/products?id=5ddade93eff8780d0b3ad363">
                <img class="rounded mb-1 product"
                    src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/10703008/2019/11/11/84133ad3-e837-4058-8f2e-d23fc66463781573475907997-PEAK-Men-Red-Synthetic-Basketball-Shoes-4671573475906653-1.jpg"
                    alt="" height="320px" width="240px">
                <div style="width: 230px;">
                    <p class="mb-0"><b>PEAK</b></p>
                    <p class="disc mb-0">Men Basketball Shoes</p>
                    <p class="disc mb-2"><b>₹4999</b></p>
                </div>
        </div>
        <div class="col-2 p-2 ml-5 mr-5">
            </a>
            <a href="/products?id=5ddd08e074e21b0017780e77">

                <img class="rounded mb-1 product"
                    src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2396685/2018/1/16/11516083186971-Romee-Red-Cotton-Bath-Mat-20-x-32-Set-of-1-5441516083186871-1.jpg"
                    alt="" height="320px" width="240px">
                <div style="width: 170px;">
                    <p class="mb-0"><b>Romee</b></p>
                    <p class="disc mb-0">Textured Rectangular Rug</p>
                    <p class="disc mb-2"><b>₹329</b></p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row mt-5 ml-5">
    <div class="sliderdiv">
        <div class="box">
            <div class="col-2 p-0">
                <a href="/products?id=5ddb3919527e380017f8192a">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7447442/2018/10/29/08a5e9e8-135c-46fc-af72-1a2788afc6701540810988407-Marc-Loire-Women-Red--Gold-Toned-Woven-Design-Open-Toe-Flats-With-Mirror-Work-7361540810988267-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Marc Loire</b></p>
                        <p class="disc mb-0">Fashion</p>
                        <p class="disc mb-2"><b>₹951</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddb3d8b527e380017f8192b">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2019/11/11/d4851289-8483-4e0d-b636-884e6d5b2c7d1573446078653-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>H&amp;M</b></p>
                        <p class="disc mb-0">Men Hooded Sweatshirt</p>
                        <p class="disc mb-2"><b>₹1999</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddb3e8a527e380017f8192c">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2019/10/30/2fda51ec-78e7-4e53-a71f-ddcb334f2c791572454801655-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Next</b></p>
                        <p class="disc mb-0">Men Red Lambswool Sweater</p>
                        <p class="disc mb-2"><b>₹3694</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbbaf2b271b4555bc83d61">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/1729585/2019/11/6/0e70ef81-b312-42c1-8196-c8a8dfae1da91573043378286-WROGN-Men-Red-Solid-Polo-T-shirt-4881573043375791-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>WROGN</b></p>
                        <p class="disc mb-0">Men Red Solid Polo T-shirt</p>
                        <p class="disc mb-2"><b>₹974</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbbbd9b271b4555bc83d62">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2019/11/4/1dc59d77-f18b-43a3-87c1-1e8d0f5d6e411572841274349-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>H&amp;M</b></p>
                        <p class="disc mb-0">Women Red Knitted Cardigan</p>
                        <p class="disc mb-2"><b>₹1299</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbbd06b271b4555bc83d63">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/10019731/2019/6/18/255d1292-6c07-4626-a3d7-bc5df018a28e1560859930499-Carlton-London-Women-Red-Solid-Top-1141560859929265-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Carlton London</b></p>
                        <p class="disc mb-0">Women Red Solid Top</p>
                        <p class="disc mb-2"><b>₹745</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbbe46b271b4555bc83d64">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7506554/2018/10/4/c26463fb-d789-4e8e-8b65-5684c0fe5c111538644041996-999Store-Set-of-3--Red--Brown-Leaves-Wall-Art-331538644041775-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>999Store</b></p>
                        <p class="disc mb-0">3-Panel Leaves Wall Art</p>
                        <p class="disc mb-2"><b>₹1799</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbbf06b271b4555bc83d65">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2252310/2017/12/8/11512730556784-Puma-Men-Red-Solid-Puffer-Jacket-5541512730556609-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Puma</b></p>
                        <p class="disc mb-0">Men Red Solid Puffer Jacket</p>
                        <p class="disc mb-2"><b>₹17999</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbc08bb271b4555bc83d66">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/10715874/2019/10/14/b68ca24f-4a40-41bb-9f13-908c38a215b21571050447724-Nike-Men-Red-AIR-VAPORMAX-2019-Sneakers-321571050445845-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Puma</b></p>
                        <p class="disc mb-0">Men Red AIR Sneaker</p>
                        <p class="disc mb-2"><b>₹15995</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbc13ab271b4555bc83d67">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/8804501/2019/4/1/67f783f4-7399-4cf5-850a-00a5c7863d4b1554125361035-SCUDERIA-FERRARI-Men-Red-Analogue-Watch-830588-3961554125359-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>SCUDERIA FERRARI</b></p>
                        <p class="disc mb-0">Men Red Analogue Watch</p>
                        <p class="disc mb-2"><b>₹16950</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddbc1e2b271b4555bc83d68">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2019/11/20/9743620a-fcb9-497a-82fb-f68f261ff7201574189893290-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Mitera</b></p>
                        <p class="disc mb-0">Embroidered Chiffon Saree</p>
                        <p class="disc mb-2"><b>₹13399</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5ddadd24eff8780d0b3ad362">
                    <img class="rounded mb-1 product"
                        src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/5561587/2018/5/9/11525845200173-Athena-Women-Red-Self-Design-Maxi-Dress-9841525845199967-1.jpg"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Athena</b></p>
                        <p class="disc mb-0">Women Red Lace</p>
                        <p class="disc mb-2"><b>₹1568</b></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="box">
            <div class="col-2 p-2 ml-4 ">
                <a href="/products?id=5dd9031422839e292e1f034b">
                    <img class="rounded mb-1 product"
                        src="https://images.pexels.com/photos/1279107/pexels-photo-1279107.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                        alt="" height="230px" width="173px">
                    <div style="width: 170px;">
                        <p class="mb-0"><b>Alexa</b></p>
                        <p class="disc mb-0">3.5 mm input</p>
                        <p class="disc mb-2"><b>₹9999</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-5">
    <h3>Shop by Category</h3>
</div>
<div class="row mt-5 ml-5 pl-4">
    <a href="/product-category?id=Mobiles">
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1 product"
                src="https://res.cloudinary.com/drr1rnoxf/image/upload/v1574834462/tkggwaca0ha0rw6adc0l.jpg" alt=""
                height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Mobiles</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Laptops">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product mr-4"
                src="https://res.cloudinary.com/drr1rnoxf/image/upload/v1574834395/qqlx8mkv22w9ivnw677f.jpg" alt=""
                height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Laptops</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Speakers">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7164701/2019/1/23/764918f7-70ae-4ece-9017-e1f306ce18fc1548248047293-Roadster-Red-Portable-Wireless-Speakers-MFB-PN-ZH-MS082-8131-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Speakers</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Camera">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.bigcartel.com/product_images/232678592/NewStrapPiece-1-6.jpg?auto=format&fit=max&w=1000"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Camera</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Men's">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/9298233/2019/9/16/2e064b98-cb32-4d0e-a2e7-64ef5707af851568638583611-Mast--Harbour-Men-Jackets-2551568638582371-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Men Fashion</b></p>
            </div>
        </div>
    </a>
</div>
<div class="row mt-5 ml-5 pl-4">
    <a href="/product-category?id=Women's">
        <div class="col-2 p-2 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7286685/2018/9/5/0edb706b-dc64-4cc7-a1ca-bfcf9aba99081536151575695-na-9541536151575492-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Women Fashion</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Decor">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2347575/2017/12/18/11513581345182-na-7211513581345092-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Decor</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Furniture">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2019/9/13/8f4bbbb1-c5b4-45c7-a9d1-765e6a44d9e41568368365512-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Furniture</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Cookware">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/productimage/2018/11/27/4b647593-b1b4-4719-9325-c0a649d50ab91543307976971-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Cookware</b></p>
            </div>
        </div>
    </a>
    <a href="/product-category?id=Bags">
        <div class="col-2 p-2 ml-4 mr-4">
            <img class="rounded mb-1 product"
                src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/10953150/2019/11/18/ddae6cac-fc4f-4cb7-8ae9-0a63b644bc4d1574055747872-Wildcraft-Unisex-Red-Solid-Backpack-1931574055744922-1.jpg"
                alt="" height="230px" width="173px">
            <div class="text-center">
                <p class="mr-4" style="width: 170px;"><b>Bags</b></p>
            </div>
        </div>
    </a>
</div>
</div>

<!-- Footer -->
<footer class="jumbotron mb-0 page-footer font-small blue-grey lighten-5">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-sm-left">Hope you liked our shopping web site do shopping on our website we will
                    provide
                    great offers and cashbacks and we also have events you can participate and win.
                    Hope you enjoy shoping with us.If any concerns please feel free to contact Us.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/product-category?id=Men's" class="dark-grey-text">Men's Wear </a>
                </p>
                <p>
                    <a href="/product-category?id=Women's" class="dark-grey-text">Women's Wear</a>
                </p>
                <p>
                    <a href="/product-category?id=Mobiles" class="dark-grey-text">Mobile</a>
                </p>
                <p>
                    <a href="/product-category?id=Laptops" class="dark-grey-text">Laptops</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>

                    <a class="dark-grey-text" href={{#if user}}"/user-profile"{{else}}"/user-login"{{/if}}>User
                        Account</a> </p> <p>
                        {{#if seller}}<a class="dark-grey-text" href="/seller-profile">Sell Your Product with Us</a>
                        {{else}}<a class="dark-grey-text" href="/seller-login">Sell Your Product with Us</a>{{/if}}
                </p>
                <p>
                    <a class="dark-grey-text" href={{#if seller}}"/seller-profile"{{else}}"/seller-login"{{/if}}>Seller
                        Account</a> </p> <p>
                        <a class="dark-grey-text">Become an Affiliate</a>
                </p>
                <p>
                    <a class="dark-grey-text">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home fa-2x mr-3"></i> New delhi, ND 10012, IND</p>
                <p>
                    <i class="fa fa-envelope fa-2x mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone fa-2x mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print fa-2x mr-3"></i> + 01 234 567 89</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->
{{session.email}}
<script>
    var countDownDate = new Date("Dec 3, 2019 15:37:25").getTime();


    var x = setInterval(function () {


        var now = new Date().getTime();


        var distance = countDownDate - now;


        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);


        document.getElementById("demo").innerHTML = " Special offer Ends in - " + days + "D " + hours + "h "
            + minutes + "m " + seconds + "s ";


        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>