{{!-- section-1 --}}
<div class="top-nav-bar">

    <div class="search-box">
        <a href="/"> <img src="https://i-love-png.com/images/characters-angry-birds-141904.png" class="ml-3 logo"></a>
        <form action="/product-category/search" method="GET" class="inline"></form>
        <input type="text" class="form-control srch inline" name="searchText">
        <button type="submit" class="input-group-text inline" id="search"><i class="fa fa-search"
                aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="menu-bar inline">
        <ul class="inline">
            {{#if user}}
            <li class="pt-2"><a href="/user-profile"><button class="btn btn-outline-danger">Profile </button></a>
            </li>
            <li class="pt-2"><a href="/user-logout"><button class="btn btn-outline-danger">Log Out </button></a>
            </li>
            {{else}}
            <li class="pt-2"><a href="/user-login"><button class="btn btn-outline-danger">Log In & Sign
                        Up</button></a></li>
            {{/if}}
            <li class="pt-2 mt-1 mr-3"><a href="/cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
        </ul>

    </div>

</div>
<section class="header">
    <div class="side-menu">
        <ul class="p-3">
            <li class="m-0">Electronics<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li><a href="/product-category/all">All products</a></li>
                    <li><a href="/product-category?id=Mobiles">Mobiles</a></li>
                    <li><a href="/product-category?id=Laptops">Laptops</a></li>
                    <li><a href="/product-category?id=Speakers">Speakers</a></li>
                    <li><a href="/product-category?id=Camera">Camera</a></li>
                </ul>
            </li>
            <li class="m-0">Fashion<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li><a href="/product-category?id=Men's">Men's</a></li>
                    <li><a href="/product-category?id=Women's">Women's</a></li>
                    <li><a href="/product-category?id=Bags">Bags</a></li>
                </ul>
            </li>

            <li class="m-0">Home & Furniture<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                <ul>
                    <li> <a href="/product-category?id=Decor"> Decor</a></li>
                    <li> <a href="/product-category?id=Cookware">Cookware</a> </li>
                    <li> <a href="/product-category?id=Furniture">Furniture</a> </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="image">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					{{!-- <ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul> --}}
					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="img-product" src="{{product.productImage}}" alt="Los Angeles" width="100px"
								height="50px">
						</div>
						{{!-- <div class="carousel-item">
							<img src="{{productImage1}}" alt="Chicago" width="100px" height="50px">
						</div>
						<div class="carousel-item">
							<img src="{{productImage2}}" alt="New York" width="1100" height="500">
						</div>
						<!-- Left and right controls -->
						<a class="carousel-control-prev" href="#demo" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#demo" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a> --}}
					</div>
				</div>

				<div class="btn5">
					<form onsubmit="return false;" class="form-group inline" id="addtocart">
						<input type="text" id="addToCart" name="id" value="{{product._id}}" style="display: none">
						<button type="submit" class="btn btn-danger btn-lg btn-rounded waves-effect text-white" id="btn6 "
							data-toggle="modal" data-target=".bd-example-modal-sm">
							ADD TO CART
						</button>
					</form>
					<form action="/cart" method="POST" class="inline">
						<input type="text" name="id" value="{{product._id}}" style="display: none">
						<input type="text" name="cart" value="true" style="display: none">
						<button type="submit" class="btn btn-warning btn-lg btn-rounded waves-effect text-white" id="btn7 ">BUY
							NOW</button><br><br><br><br>
					</form>
					<div>
						<h5>Seller
							<hr>
						</h5>
						<h5 style="color: blue">OmniTechRetail 4.5*</h5>
						<p> A13,African Avenu</p>
						<p> Triknlet, UK</p>
					</div>
				</div>
			</div>

		</div>
		<!---------first col closing-------->
		<div class="col-lg-6">
			<div class="description">
				<h2>{{product.productName}}</h2>
				<hr>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<p>103,45 Ratings & 36,000 Reviews</p>
				<div>
					<h3 style="display:inline">
						<b>&#8377; {{product.productPrice}}</b></h3> &nbsp; &nbsp;
					<strike style="display:inline">&#8377; 78,999</strike> &nbsp; &nbsp;
					<h5 style="display:inline; color: green">20% off</h5><br><br>
					<h6>Available Offers</h6>
					<p class="Offer">
						<img
							src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"><strong>Bank
							Offer</strong>10% Cashback* on HDFC Bank Debit Cards
					</p>
					<p class="Offer">
						<img
							src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"><strong>Bank
							Offer</strong>Extra 5% off* with Axis Bank Buzz Credit Card
					</p>
				</div> <br><br>
				<div class="color_variant">
					<h6 style="display:inline">Colors Available&nbsp; &nbsp;&nbsp; &nbsp;</h6>
					<span class="dot " style="background-color:red"></span>
					<span class="dot" style="background-color:cyan"></span>
					<span class="dot" style="background-color:orange"></span>
					<span class="dot" style="background-color:black"></span>
					<span class="dot"></span>
				</div><br><br>
				<form>
					<label for="lname"><Strong>Delivery</Strong></label>
					<input type="number" id="pincode" placeholder="Enter Pincode to Check">
					<button type="button" class="btn btn-outline-info btn-sm" id="checkPincode"
						onclick="check();">Check</button>

					<p id="pincodeResult" style="display: inline;"></p> &nbsp; &nbsp;
					<p id="placeResult" style="display: inline;"></p>
				</form><br><br><br>
				<div class="features">
					<h4 align="center">Highlights
						<hr>
					</h4>
					<div class="list-type5">
						<ol>
							<li> {{product.productHighlights1}} </li>
							<li>{{product.productHighlights2}}</li>
							<li>{{product.productHighlights3}} </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer -->
<footer class="jumbotron mb-0 page-footer font-small blue-grey lighten-5">
	<!-- Footer Links -->
	<div class="container text-center text-md-left mt-5">

		<!-- Grid row -->
		<div class="row mt-3 dark-grey-text">

			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

				<!-- Content -->
				<h6 class="text-uppercase font-weight-bold">Company name</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p class="text-sm-left">Hope you liked our shopping web site do shopping on our website we will
					provide
					great offers and cashbacks and we also have events you can participate and win.
					Hope you enjoy shoping with us.If any concerns please feel free to contact Us.</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Products</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<a href="/product-category?id=Men's" class="dark-grey-text">Men's Wear </a>
				</p>
				<p>
					<a href="/product-category?id=Women's" class="dark-grey-text">Women's Wear</a>
				</p>
				<p>
					<a href="/product-category?id=Mobiles" class="dark-grey-text">Mobile</a>
				</p>
				<p>
					<a href="/product-category?id=Laptops" class="dark-grey-text">Laptops</a>
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Useful links</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>

					<a class="dark-grey-text" href={{#if user}}"/user-profile"{{else}}"/user-login"{{/if}}>User
						Account</a> </p> <p>
						{{#if seller}}<a class="dark-grey-text" href="/seller-profile">Sell Your Product with Us</a>
						{{else}}<a class="dark-grey-text" href="/seller-login">Sell Your Product with Us</a>{{/if}}
				</p>
				<p>
					<a class="dark-grey-text" href={{#if seller}}"/seller-profile"{{else}}"/seller-login"{{/if}}>Seller
						Account</a> </p> <p>
						<a class="dark-grey-text">Become an Affiliate</a>
				</p>
				<p>
					<a class="dark-grey-text">Help</a>
				</p>

			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">Contact Us</h6>
				<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<i class="fa fa-home fa-2x mr-3"></i> New delhi, ND 10012, IND</p>
				<p>
					<i class="fa fa-envelope fa-2x mr-3"></i> info@example.com</p>
				<p>
					<i class="fa fa-phone fa-2x mr-3"></i> + 01 234 567 88</p>
				<p>
					<i class="fa fa-print fa-2x mr-3"></i> + 01 234 567 89</p>

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->
</footer>
<!-- Footer -->
{{!-- <div class="container">
	<div class="row">
		<div class="col">
			<h3>Reviews
				<hr>
			</h3>
			<div class="solid">
				<button type="button" class="btn btn-success btn-xs">4.5*</button>
				<p class="user_review">{{product.userReview}}</p>
				<div class="review1">
					<div>Certified Buyer<span class="glyphicon glyphicon-user"></span>
						<button style="font-size: 24px;border: none;border-radius: 19px;background-color: #0080008a;"><i
								class="fa fa-thumbs-up"></i></button>
						<button
							style="font-size:24px;margin-left: 59px;border: none;border-radius: 19px;background-color: #0080008a;"><i
								class="fa fa-thumbs-down"></i></button>
					</div>

				</div>
			</div>
			<div class="solid">
				<button type="button" class="btn btn-success btn-xs">4.0*</button>
				<p class="user_review">Using since last of 2017, No issue</p>
				<div class="review1">
					<div>Certified Buyer<span class="glyphicon glyphicon-user"></span>
						<button style="font-size: 24px;border: none;border-radius: 19px;background-color: #0080008a;"><i
								class="fa fa-thumbs-up"></i></button>
						<button
							style="font-size:24px;margin-left: 59px;border: none;border-radius: 19px;background-color: #0080008a;"><i
								class="fa fa-thumbs-down"></i></button>
					</div>

				</div>
			</div>
		</div>
	</div> --}}
<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-sm text-center">
		<div class="modal-content jumbotron">
			{{#if user}}Added To Cart{{else}}First Login{{/if}}
		</div>
	</div>
</div>
{{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script> --}}