<div class="top-nav-bar">
    <form action="/product-category/search" method="GET" class="inline">
        <div class="search-box">
            <a href="/"> <img src="https://i-love-png.com/images/characters-angry-birds-141904.png"
                    class="ml-3 logo"></a>
            <input type="text" class="form-control srch inline" name="searchText" required>
            <button type="submit" class="input-group-text inline" id="search"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </div>

        <div class="menu-bar inline">
            <ul class="inline">
                {{#if user}}
                <li><a href="/user-profile">Profile</a></li>
                <li><a href="/user-logout">Log Out</a></li>
                {{else}}
                <li><a href="/user-login">Log In & Sign Up</a></li>
                {{/if}}
                <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
            </ul>

        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-9">
            <h5 class=""><b>{{category}}</b></h5>
        </div>
    </div>

    <div class="row ml-3">
        {{#each products}}
        <a href="/products?id={{this._id}}">
            <div class="col-2 p-2 ml-4">
                <img class="rounded img-box mb-1" src="{{this.productImage}}" alt="" height="230px" width="173px">
                <div style="width: 170px;">
                    <p class="mb-0"><b>{{this.productName}}</b></p>
                    <p class="disc mb-0">{{this.productHighlights1}}</p>
                    <p class="disc mb-2"><b>&#x20b9;{{this.productPrice}}</b></p>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>
<!-- Footer -->
<footer class="jumbotron mb-0 page-footer font-small blue-grey lighten-5">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p class="text-sm-left">Hope you liked our shopping web site do shopping on our website we will
                    provide
                    great offers and cashbacks and we also have events you can participate and win.
                    Hope you enjoy shoping with us.If any concerns please feel free to contact Us.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/product-category?id=Men's" class="dark-grey-text">Men's Wear </a>
                </p>
                <p>
                    <a href="/product-category?id=Women's" class="dark-grey-text">Women's Wear</a>
                </p>
                <p>
                    <a href="/product-category?id=Mobiles" class="dark-grey-text">Mobile</a>
                </p>
                <p>
                    <a href="/product-category?id=Laptops" class="dark-grey-text">Laptops</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>

                    <a class="dark-grey-text" href={{#if user}}"/user-profile"{{else}}"/user-login"{{/if}}>User
                        Account</a> </p> <p>
                        {{#if seller}}<a class="dark-grey-text" href="/seller-profile">Sell Your Product with Us</a>
                        {{else}}<a class="dark-grey-text" href="/seller-login">Sell Your Product with Us</a>{{/if}}
                </p>
                <p>
                    <a class="dark-grey-text" href={{#if seller}}"/seller-profile"{{else}}"/seller-login"{{/if}}>Seller
                        Account</a> </p> <p>
                        <a class="dark-grey-text">Become an Affiliate</a>
                </p>
                <p>
                    <a class="dark-grey-text">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home fa-2x mr-3"></i> New delhi, ND 10012, IND</p>
                <p>
                    <i class="fa fa-envelope fa-2x mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone fa-2x mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print fa-2x mr-3"></i> + 01 234 567 89</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->